main, div {
    padding: 20px;
}

main {
    background-color: green;
    width: 300px;
    height: 800px;
}

/* 
    position 속성 : HTML 요소를 배치하는 방법을 지정합니다
    ** 속성값 **
        -static : 기본값으로 일반적인 문서의 흐름에 맞춰 배치합니다.
        -relative : static 위치에서 top, right, bottom, left같은 속성에 의한 상대적인 위치값을 지정합니다.
                    그외에는 static과 같습니다.
        -absolute :
            요소가 문서의 일반적인 흐름을 따르지 않게 합니다.
            relaive값을 사용한 상위 요소를 기준으로 위치값을 지정합니다.
        -fixed : 뷰 포트를 기준으로 위치값을 지정합니다.
        -sticky :
            요소가 HTML 문서안에서 static과 같이 일반적인 흐름에 따라가다가
            스크롤 위치가 임계점에 이르면 화면에 고정할 수 있는 속성입니다.
            top속성만 적용됩니다
            자신의 바로위의 부모요소 안에서만 적용됩니다.    
*/
        
.div-static {
    background-color: gray;
    position: static;
}

.div-relative {
    background-color: aqua;
    position: relative;
    /* top: 20px; */
    /* left: 20px; */
}

.div-relative-absolute {
    background-color: antiquewhite;
    position: relative;
    
}

.div-absolute {
    background-color: blueviolet;
    position: absolute;
    left: 50px;
}

.div-fixed {
    background-color: rgb(30, 134, 138);
    position: fixed;
    right: 10vw;
    bottom: 10vh;
}

.div-sticky {
    background-color: chocolate;
    position: sticky;
    top: 0;
}
