.div-img {
    width: 200px;
    height: 200px;

    background-image: url(../img/123.webp);
    
    /* content가 넘칠때 스크롤 생성 */
    /* overflow: scroll; */

    /* 배경 이미지 크기 설정
        background-size : 배경 이미지의 크기를 설정합니다
        ** 속성 값 **
            -auto : 원본의 크기를 유지(기본값)
            -contain : 요소안에 배경 이미지가 다 들어오도록 확대및 축소
            -cover : 요소를 모두 덮도록 이미지를 확대 축소 합니다
            -px, em, rem : 하나의 값을 주어 너비를 지정하고, 너비에 맞는 높이
            -% : 이미지의 비율에 맞도록 조절합니다
        */
        
    background-size: cover;

    /* 
        background-position : 배경 이미지의 초기 위치를 설정합니다.
        **속성값**
        -키워드 : top, left, right, bottom, center
        -퍼센티지 : 25% 75%
        edge offsets : bottom 30px right 50px  
    */
    background-position: center;
}

.div-repeat {
    width: 200px;
    height: 200px;
    background-image: url(../img/8666735_moon_icon.png);

    background-repeat: no-repeat;
}
