/* 연결 선택자(Combination Selector) 
    공백, >, +, ~ 등 결합자(combination)를 이용해 특정 요소를 선택
*/
/* 후손결합자 
    공백 문자를 이용해 선택자를 조합
    상위요소의 영역하에 있는 특정 선택자에 스타일을 적용
*/
header span {
    color: red;
}
/* 자식 결합자 
    '>' 기호를 이용하여 선택자를 조합
    부모 요소 영역에서 자식요소로 한정해서 선택
*/
header > span {
    color: blue;
}

/* 인접 형제 결합자 
    '+' 기호를 이용해서 선택자를 조합
    첫번째 선택자 요소 바로 뒤에 나오는 형제 요소에 스타일을 적용
 */

 header + span {        
    color: green;
 }
/* 일반 형제 결합자
    '~' 기호를 이용해서 선택자를 조합
    첫번쨰 선택자 요소이후에 나오는 모든 형제 요소에 스타일을 적용
*/
 header ~ span {
    color: violet;
 }